<h1>This was your query</h1>
<table>
  <thead>
    <tr>
      <th>Search Type</th>
      <th>SMILES query</th>
      <th>Structure</th>
      <th>Additional Parameters</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= Seek::Search::Smiles::TYPES[@search_type] %>
      </td>
      <td>
        <%= @structure_search_query %>
      </td>
      <td>
        <%= render :partial => "smiles/structure_in_jsme",
                   :locals => { smiles: @structure_search_query, id: "structure_search_query_jsme" } %>
      </td>
      <td>
        <% case @search_type%>
        <% when :SMILES %>
          <ul class="table">
            <li class="row">
              <span>canonical: </span><span><%= Seek::Search::Smiles::POLICY_CANONICAL[@canonical_policy] %></span>
            </li>
            <li class="row">
              <span>isotope and stereochemistry:</span><span><%= Seek::Search::Smiles::POLICY_ISOTOPE_STEREOCHEMISTRY[@isotope_stereo_policy] %></span>
            </li>
          </ul>
        <% when :SMARTS %>
        <% when :SIMILARITY %>
          <ul class="table">
            <li class="row">
              <span>tanimoto coefficient cutoff: </span><span><%= @tanimoto_coefficient_cutoff %></span>
            </li>
          </ul>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% if @compounds_hash.empty? %>
  No matches found
<% else %>
  Found <%= @compounds_hash.size %> matches
<% end %>
