<div id="smiles_search_box">
  <%= form_tag(search_molecules_path, :method => :post) do %>
    <div id="search_type_tabs">
      <%= label_tag :structure_search_query, "SMILES or SMARTS:" %>
      <%= text_field_tag :structure_search_query, @structure_search_query, :class=>"curved", :placeholder=>"Enter SMILES or SMART", :size => 50 %>
      <br><small>This field will be updated as you draw your structure in the Editor.</small>
      <ul>
        <li><a href="#search_type_SMILES" data-search_type="SMILES"><%= Seek::Search::Smiles::TYPES[:SMILES] %></a></li>
        <li><a href="#search_type_SMARTS" data-search_type="SMARTS"><%= Seek::Search::Smiles::TYPES[:SMARTS] %></a></li>
        <li><a href="#search_type_SIMILARITY" data-search_type="SIMILARITY"><%= Seek::Search::Smiles::TYPES[:SIMILARITY] %></a></li>
      </ul>
      <div id="search_type_SMILES">
        <p>
          In this search, structures can be searched that match exactly the query structure.<br>
          This can be adjusted to match exactly the SMILES ("Canonical Policy").<br>
          It can also be adjusted to match SMILES encoded stereo and isotope configuration ("Isotope and Stereo Policy").
        </p>
        <table>
          <tbody>
            <tr>
              <td><%= label_tag :canonical_policy, "Canonical Policy:"%></td>
              <td><%= select_tag :canonical_policy, options_for_select(Seek::Search::Smiles::POLICY_CANONICAL.collect{ |policy,explain| [explain, policy]}, :canonical) %></td>
            </tr>
            <tr>
              <td><%= label_tag :isotope_stereo_policy, "Isotope and Stereo Policy:"%></td>
              <td><%= select_tag :isotope_stereo_policy, options_for_select(Seek::Search::Smiles::POLICY_ISOTOPE_STEREOCHEMISTRY.collect{ |policy,explain| [explain, policy]}, :canonical) %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= submit_tag "Search", :name => :SMILES %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="search_type_SMARTS">
        <p>
          In this search, substructures can be searched. meaning the given SMILE is part of the structure to be found.<br>
          Using the SMARTS language, wildcards for bonds and substituents can be set.
        </p>
        <%= submit_tag "Search", :name => :SMARTS %>
      </div>
      <div id="search_type_SIMILARITY">
        <p>
          In this search, similar structures will be searched for. For the query structure a fingerprint will be generated.<br>
          For all sructures to query against fingerprints are available. The similarity is then calcualted as the Tanimoto coefficient between the fingerprints.<br>
          Since all structures will be queried and will end up in the result, a reasonable cutoff needs to be defined.
        </p>
        <table>
          <tbody>
            <tr>
              <td><%= label_tag :fingerprint_size, "Fingerprint size" %></td>
              <td><%= number_field_tag :fingerprint_size, @fingerprint_size, min: 128, max: 1024, step: 128 %></td>
              <td></td>
            </tr>
            <tr>
              <td><%= label_tag :fingerprint_search_depth, "Fingerprint search depth" %></td>
              <td><%= number_field_tag :fingerprint_search_depth, @fingerprint_search_depth, min: 0, max: 8, step: 1 %></td>
              <td>(reduce this when error occurs)</td>
            </tr>
            <tr>
              <td><%= label_tag :tanimoto_coefficient_cutoff, "Tanimoto coefficient cutoff" %></td>
              <td><%= number_field_tag :tanimoto_coefficient_cutoff, @tanimoto_coefficient_cutoff, min: 0.05, max: 1, step: 0.05 %></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td><%= submit_tag "Search", :name => :SIMILARITY %></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <h2><a id="structure_search_link" href="<%= search_molecules_path %>">Link to this search</a></h2>
    </div>
    <div>
      <h2><%= "Found #{@smiles_hash.size} in #{@visible_compound_id_smiles_hash.size} visible in #{@compound_id_smiles_hash.size} compounds with smiles." %></h2>
    </div>
  <% end %>
</div>

<script type="text/javascript">
function updateSearchLink(){
  var link = jQuery('#structure_search_link');
  var url = "<%= search_molecules_path %>?";
  var params = {
    "structure_search_query"      : jQuery('#structure_search_query').val(),
    "canonical_policy"            : jQuery('#canonical_policy').val(),
    "isotope_stereo_policy"       : jQuery('#isotope_stereo_policy').val(),
    "fingerprint_size"            : jQuery('#fingerprint_size').val(),
    "fingerprint_search_depth"    : jQuery('#fingerprint_search_depth').val(),
    "tanimoto_coefficient_cutoff" : jQuery('#tanimoto_coefficient_cutoff').val()
  };
  var search_type = jQuery('#search_type_tabs > ul > li.ui-tabs-active').attr("aria-controls").replace("search_type_","");
  params[search_type] = "Search";
  url += jQuery.param(params);
  link.attr('href', url);
}

jQuery( function() {
  var index = jQuery('#search_type_tabs a[href="#search_type_<%= @search_type.to_s %>"]').parent().index();
  jQuery("#search_type_tabs").tabs({
    active: index,
    activate: updateSearchLink
  });
  var on_change_element_ids = [
    "structure_search_query",
    "canonical_policy",
    "isotope_stereo_policy",
    "fingerprint_size",
    "fingerprint_search_depth",
    "tanimoto_coefficient_cutoff"];
  on_change_element_ids.forEach(function(item){
    jQuery('#' + item).change(updateSearchLink);
  });
  updateSearchLink();
});
</script>

