<div class="show_basic">
  <table id="compounds_attributes" class="display nowrap" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>
          normalizedID
        </th>
        <% @header.keys.each do |name| %>
        <th>
          <%= name %>
        </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @compounds_hash.each do |id,datafile_attributes| %>
      <tr data-compoundid="<%= id %>">
        <td>
          <%= id %>
        </td>
        <% @header.keys.each do |name| %>
        <td>
          <% datafile_attributes.each do |file_id,attributes| %>
            <% if attributes.has_key? name %>
              <%= attributes[name] %>
              <% break %>
            <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th>In Datafile:</th>
        <% @header.each do |name,datafile_ids| %>
        <td>
          <ul>
            <% datafile_ids.each do |file_id| %>
              <%
                 data_file = DataFile.where(id: file_id).first
                 data_file_title = data_file.try(:title)
              %>
              <% if data_file.can_view?(User.current_user) %>
                <li class="list-title"> <%= link_to data_file_title, data_file %></li>
              <% end %>
            <% end %>
          </ul>
        </td>
        <% end %>
      </tr>
    </tfoot>
  </table>
</div>

<div class="warning">Please note: If an attribute is found in multiple data_files, only the value from the first is shown in this table.</div>

<script type="text/javascript">

jQuery(document).ready(function(){
	// the current version of datatables.net-buttons collection still uses the deprecated 'addSelf' instead of 'addBack'
	// https://github.com/jquery/jquery-migrate/blob/dc1d703f7747d71f471316bc66a2ea32b6197046/src/traversing.js
	// this is already fixed in the master branch, but has not been in the release yet
	var oldSelf = jQuery.fn.andSelf || jQuery.fn.addBack;
	jQuery.fn.andSelf = function() {
		console.log( "jQuery.fn.andSelf() is deprecated and removed. Remove this code once datatables.net-buttons is updated to 1.2.2 or higher" );
		return oldSelf.apply( this, arguments );
	};

  var table = jQuery('#compounds_attributes').DataTable({
    // responsive: true,
    "scrollX": true,
    "lengthMenu": [[5,20,-1],[5,20,"All"]],
    buttons: [
      {
        extend: 'collection',
        text: 'Export',
        autoClose: true,
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
      },
      {
        extend: 'colvis',
        columns: ':not(:first-child)',
        collectionLayout: 'fixed three-column',
        postfixButtons: [ 'colvisRestore' ]
      }, 
      {
        text: "Filter selected",
        action: function(){
          ids = jQuery( table.rows('.selected').nodes()).map(
                  function(){ return jQuery(this).data('compoundid');}
                ).get();
          if( ids.length > 0) {
            window.location.href = "<%= compounds_attributes_table_path %>?" + jQuery.param({ "ids":ids});
          } 
        }
      }
    ],
    order: [[ 0, 'asc' ]],
    asStripeClasses: []
  });
  jQuery('#compounds_attributes tbody').on( 'click', 'tr', function () {
    jQuery(this).toggleClass('selected');
  });
 
  table.buttons().container().insertBefore( '#compounds_attributes_filter' );
});
</script>
