
<%= stylesheet_link_tag "lightbox", "ul_li_table" %>
<%= javascript_include_tag 'zoom/lightbox' %>

<h1> Compound Summary Report: <%= @compound_id %></h1>
<div class='show_basic'>
  <ul>
    <li class="list-title">
      <%= @compound_id %>
      <% smiles = get_attribute_value(@compound_attributes, "smiles")
        smiles.each do |s| %>
          <%= compound_structure_link(@data_file.id, s, Seek::Data::DataMatch.standardize_compound_name(@compound_id)) %>
      <% end %>

    </li>
    <li>
      <ul class="table">
        <% general_compound_attributes.each do |attr| %>
            <% value = get_attribute_value(@compound_attributes, attr).join(", ")%>
            <li class="row">
            <span> <%= attr %>: </span>
            <span class="<%= 'none_text' if value == 'hidden' %>"><%= value %></span>
            </li>
        <% end  %>

      </ul>
    </li>
    <% @compound_attributes.each do |file_id, file_headers| %>
        <%
           data_file = DataFile.where(id: file_id).first
           data_file_title = data_file.try(:title) %>
        <li class="list-title"> <%= link_to data_file_title, data_file %></li>
        <li>
          <ul class="table">
            <% file_headers.each do |header, value| %>
                <%  not_general_attribute = !(general_compound_attributes | ["compound"]).detect{|ga| header.match(/#{ga.singularize.split(" ").join(".*")}/i)}
                   if not_general_attribute %>
                <li class="row">
                  <span> <%= header %>: </span>
                  <span class="<%= 'none_text' if value == 'hidden' %>"> <%= value %></span>
                </li>
                <% end %>
            <% end %>
          </ul>
        </li>
    <% end %>
  </ul>

</div>
